In [ ]:
-- A. Count how many transactions are there inside the order table
SELECT COUNT(id) FROM orders o;
-- results : 18760

-- B. Sum the total values in the order table
SELECT SUM(total) FROM orders o;
-- results : 1595328.1251600615

-- C. Count the total orders of products with discount and order them based on the highest amount to the lowest. We want to know the top 10 products who often give discounts
SELECT title, COUNT(total) AS total_order
FROM orders o 
INNER JOIN products p ON p.id = o.product_id
WHERE discount > 0  
GROUP BY title
ORDER BY total_order DESC
LIMIT 10;
/* results: 
|title|total_order|
|-----|-----------|
|Incredible Aluminum Knife|27|
|Incredible Silk Shoes|18|
|Practical Silk Computer|18|
|Sleek Aluminum Clock|17|
|Ergonomic Aluminum Plate|17|
|Mediocre Leather Computer|16|
|Rustic Iron Keyboard|16|
|Intelligent Paper Hat|15|
|Fantastic Leather Watch|15|
|Durable Iron Knife|15|
*/

-- D. Use a CTE to compute the total sales for each product category
WITH total_orders AS (
    SELECT category, SUM(total) AS total_category_order
    FROM orders o
    INNER JOIN products p ON o.product_id = p.id
    GROUP BY category
)
SELECT * FROM total_orders
ORDER BY total_category_order DESC;
/* results
|category|total_category_order|
|--------|--------------------|
|Widget|446835.96396984986|
|Gadget|429618.72149525903|
|Gizmo|404989.7102093297|
|Doohickey|313883.7294856179|
*/

-- E. Use a CTE to sum order totals for products rated 4 or higher.
WITH total_orders AS (
    SELECT title, SUM(total) AS total_rating_above_four_orders
    FROM orders o 
    INNER JOIN products p ON o.product_id = p.id
    WHERE p.rating >= 4
    GROUP BY title
)
SELECT * FROM total_orders
ORDER BY total_rating_above_four_orders DESC;
/* results ( there are 113 data, so I'll only give the top 10 as samples
|title|total_rating_above_four_orders|
|-----|------------------------------|
|Awesome Steel Toucan|14700.206639488246|
|Intelligent Paper Hat|13629.264866315907|
|Aerodynamic Linen Coat|13551.59862580971|
|Fantastic Silk Bottle|13499.836799755252|
|Lightweight Wool Computer|13490.383690668523|
|Awesome Iron Hat|12814.900093577578|
|Rustic Linen Keyboard|12740.84951518571|
|Sleek Plastic Shoes|12615.43345301183|
|Practical Bronze Watch|12545.38999710525|
|Aerodynamic Leather Toucan|12330.613248169811|
*/

-- F. Use a CTE to retrieve product and review records with scores less than or equal to 3, and sort the results by the created date in descending order (newest first)
WITH product_reviews AS (
    SELECT r.created_at, r.body, r.rating AS review_rating
    FROM reviews r 
    INNER JOIN products p ON r.product_id = p.id
    WHERE r.rating <= 3 AND p.rating <= 3
)
SELECT * FROM product_reviews
ORDER BY created_at DESC;
/* results
|created_at|body|review_rating|
|----------|----|-------------|
|2020-02-09 16:37:57.670|Beatae voluptatem est labore dicta. Cum sint cupiditate adipisci nesciunt tenetur harum corrupti. Sint id tempora ipsa provident laudantium magnam. Et illo iure perspiciatis vel qui.|3|
|2020-01-30 14:01:12.262|Non laboriosam quaerat illum dicta perspiciatis tenetur perferendis. Quod inventore quis qui totam quo quae sit. Eveniet consequatur adipisci similique qui sunt.|2|
|2019-04-20 04:57:57.910|Sint dicta facere cumque omnis autem. Non tempora voluptatem iure. Modi quia modi voluptatem. Autem ratione tempora qui.|3|
|2019-04-05 15:16:09.104|Unde labore aut saepe perferendis quas vero enim. Et minus voluptatum sint molestiae ut eaque dicta libero. Quibusdam ex sunt dolorum accusamus. Quibusdam dolores fuga earum et occaecati placeat. Voluptates voluptatem eum enim autem quis aut veniam molestiae.|1|
|2019-04-02 15:45:36.848|Quod accusantium qui itaque aut optio. Reprehenderit est quo beatae. Qui totam voluptatum nisi a qui est repellat. Quia voluptatibus dolor veritatis minima. Magni nostrum ex rerum omnis omnis.|2|
|2019-02-02 19:47:40.714|Modi quibusdam aut cumque animi consequuntur sapiente. Ratione eligendi nostrum perferendis qui quia rerum. Eos quia veniam ducimus est perferendis iste quo.|1|
|2019-01-11 11:57:54.234|Natus rerum hic tempore nostrum sed vel. Explicabo odio ratione impedit sunt totam. Consequatur tempore voluptatem perspiciatis non et occaecati alias. Amet distinctio repudiandae voluptas. Necessitatibus odit quo eligendi ratione minus illo doloribus.|1|
|2018-11-06 09:23:59.664|Inventore eos aut error commodi dolor quasi id sunt. Ab consequatur eligendi et aliquam et. Laborum similique omnis ab harum.|1|
|2018-09-28 22:29:23.619|Ad sit magnam voluptatem esse voluptatem. Natus ut quo labore soluta ex exercitationem. Sunt aperiam qui at.|2|
|2018-07-28 13:49:57.756|Necessitatibus voluptatem officia iusto. Repudiandae distinctio accusantium quae officiis nisi. Eveniet voluptatem non molestias tempora maxime voluptas quas reiciendis. Explicabo ea non enim temporibus. Alias aspernatur quos et quia blanditiis repudiandae.|1|
|2018-06-25 23:24:21.905|Quia velit sapiente quia voluptatem accusantium. Quod ut a nulla ea. Velit tempore sit blanditiis placeat hic maiores reiciendis et. Consequatur tempora non explicabo necessitatibus cumque fuga cumque. Voluptatem ut tempora velit temporibus in et iure.|1|
|2018-02-19 19:21:49.514|Cum voluptatem dolores eum id ab incidunt esse. Sit saepe quia quam reiciendis eius labore doloribus quo. Qui mollitia nam veritatis fugiat rerum. Quae voluptas aut repudiandae facilis.|2|
|2017-04-07 23:14:36.659|Fugit ut accusamus eaque. Sequi ad vel vitae iure adipisci eos eligendi maiores. Dicta minima minus commodi ea reprehenderit. Voluptatem aspernatur eum sit dolor veritatis aut.|1|
|2016-06-08 08:54:57.329|Ut et quia sint. Sed repudiandae assumenda aspernatur. Neque ipsum incidunt possimus voluptates ut dicta ab. Dolores facilis nostrum aut sunt autem. Sint impedit et recusandae dignissimos distinctio voluptas.|2|
|2016-06-06 08:07:04.209|Et voluptate ut magnam aspernatur. Cupiditate a eos nihil harum distinctio voluptatem qui quasi. Laborum aut nostrum rem odit.|3|
*/

-- G. Count the number of distinct sources in the users table.
SELECT COUNT(DISTINCT source) AS total_unique_sources
FROM users;
-- result: 5

-- H. Count how many users in the users table have an email ending with gmail.com.
SELECT COUNT(id) AS total_user_gmail
FROM users u 
WHERE u.email LIKE '%gmail.com';
-- result: 849

-- I. Display the products priced between 30 and 50, sorted by created date in descending order
SELECT id, title, price, created_at
FROM products p
WHERE p.price >= 30 AND p.price <= 50
ORDER BY created_at DESC;
/* results ( There are 67 data so I'll only show the top 5 newest and oldest
|id|title|price|created_at|
|--|-----|-----|----------|
|135|Enormous Granite Bottle|30.536015447715613|2019-04-02 07:04:34.857|
|102|Lightweight Granite Hat|31.361435038520785|2019-03-29 21:27:53.791|
|108|Practical Silk Computer|33.39659192329691|2019-03-03 13:38:54.705|
|137|Ergonomic Granite Bottle|45.18165304538124|2019-02-16 22:36:43.143|
|144|Aerodynamic Bronze Hat|40.7988669736962|2019-01-19 02:05:08.927|
.....
|161|Heavy-Duty Rubber Gloves|31.727470408648482|2016-06-12 23:35:50.174|
|33|Small Plastic Computer|31.829909130640935|2016-05-30 20:38:52.750|
|194|Heavy-Duty Rubber Bottle|33.587182645381546|2016-05-11 09:39:00.357|
|80|Small Copper Clock|36.60883787357609|2016-05-02 06:05:29.339|
|34|Heavy-Duty Wooden Clock|49.535942579421324|2016-04-28 22:08:19.003|
*/

-- J. Create a database view listing users born after 1997
CREATE VIEW view_users_born_after_1997 AS
SELECT name, email, address, birth_date
FROM users
WHERE CAST(SUBSTRING(birth_date FROM 1 FOR 4) AS INTEGER) > 1997;
SELECT * FROM view_users_born_after_1997;
/* results ( there are 128 data so I'll only give the top 10 from the list
|name|email|address|birth_date|
|----|-----|-------|----------|
|Anais Ward|ward.anais@gmail.com|5816-5894 280th Street|1999-10-16|
|Bertrand Romaguera|romaguera.bertrand@gmail.com|258 Opal Road|2000-02-14|
|Angela Botsford|angela-botsford@hotmail.com|2002-2078 North J Road|1999-07-17|
|Carroll Kohler|carroll.kohler@hotmail.com|4251-4389 485th Avenue|1999-03-19|
|Breanne Schiller|breanne-schiller@gmail.com|2 Site 7|1999-03-01|
|Quentin Leannon|quentin.leannon@hotmail.com|11821 West Lincoln Avenue|1999-05-18|
|Ferne Tremblay|tremblay-ferne@yahoo.com|1343 Davenport Road|1998-05-06|
|Leda Hammes|leda-hammes@gmail.com|5331 116th Avenue Southwest|1998-07-28|
|Foster Marks|foster-marks@yahoo.com|35498 Arizona 77|1999-01-11|
|Paige Miller|miller.paige@gmail.com|2656 Fox Run|1999-02-10|
*/

-- K. Use a CTE with a window function to display products that share the same title
WITH product_list AS (
    SELECT id, created_at, title, category, vendor,
           ROW_NUMBER() OVER (PARTITION BY title ORDER BY created_at DESC) AS row_num,
           COUNT(*) OVER (PARTITION BY title) AS title_count
    FROM products p
)
SELECT id, created_at, title, category, vendor
FROM product_list
WHERE title_count > 1;
/*
|id|created_at|title|category|vendor|
|--|----------|-----|--------|------|
|64|2017-02-21 11:15:20.545|Incredible Aluminum Knife|Gadget|Noah Anderson and Sons|
|149|2017-06-15 08:50:11.957|Incredible Aluminum Knife|Widget|Padberg, Senger and Williamson|
*/